[2017-07-15 02:16] CooperLan opened #2 "Android app not working on old devices"
Small words. Style not working. Margins and floating messed up

[2017-07-15 02:23] ghost commented on #2
Thanks for this issue post.

I can fix this by assigning a higher minimum API. I believe the current API is 16, and I will make it higher to fix the issue.

I might also find a way to make the webview with webkit all the time.

[2017-07-15 02:23] #2 closed

[2017-07-15 03:14] CameronSamuels opened #3 "Make a bullet weapon"
Right now, bullets are just `missile` or `shadow_ball`

[2017-07-15 14:14] ghost commented on #2
B-Ocracy doesn't work on my Android phone also and it's not even half a year old. The main menu works fine, but once you click anything it comes to a blank solid red screen.

[2017-07-15 14:15] ghost commented on #3
How large are these "bullet" icons? And which characters "use" bullets besides the Sniper B?

[2017-07-15 14:16] ghost commented on #3
And I think "missiles" should be for `aircraft` and something similar for any tank-like character

[2017-07-15 14:19] ghost commented on #3
@faithtsang

The `worldwar`, `mecenery`, and more should use a `bullet`.

How big are they? They **must be SVG** format and **3:2 ratio**.

[2017-07-15 14:22] ghost commented on #2
On the android phones I tested, it works fine.

[2017-07-15 14:47] cameronsamuels opened #4 "Make certain elements percentage based"
Certain elements like the characters and name text in the battle page is percentage based, meaning that on big screens, they appear big instead of an exact value. But some elements like the health bars and `clickToStart` text are small.

These few elements should have percentage based sizes.

[2017-07-15 20:01] CameronSamuels opened #5 "Add soundtracks"
I will add soundtracks back to the game.

Should I make them be the same song looping (@faithtsang's "positive storyline event" works fine with looping, and it hasn't been in the game at all) or should we have different songs playing back-to-back. The 2 themes and the positive storyline song could be those 3.

What should we do?

[2017-07-15 20:13] CameronSamuels opened #6 "Fix cyber_hand weapon sizing"
It has wrong dimensions so it cuts off some of the picture.

[2017-07-15 20:25] CooperLan commented on #3
Done!!!

[2017-07-16 19:58] CameronSamuels opened #7 "Fix Android Video Ads"
The video overlaps the name of the ad and looks bad.

[2017-07-16 19:58] CameronSamuels opened #8 "Fix overflow"
This should not happen, and should not have happened due to the code. This needs to be fixed.

[2017-07-16 20:09] ghost commented on #8
This is resolved. I had to add `overflow: hidden` to the `<html>`.

[2017-07-16 20:09] #8 closed

[2017-07-16 21:51] CameronSamuels opened #9 "Remove -webkit-tap-highlight-color visibility"
Making this css property will make it a lot better.

[2017-07-17 00:34] ghost commented on #9
Published in pull request #10.

[2017-07-17 14:23] ghost commented on #5
This does not work on mobile because of the lack of autoplay. We will have to put this in the actual apps. I am closing this for now.

[2017-07-17 14:23] #5 closed

[2017-07-17 14:53] ghost commented on #6
Fixed this issue. This was really simple to do, and works great now.

[2017-07-17 14:53] #6 closed

[2017-07-17 15:00] ghost commented on #7
I can not produce this problem again, but I do notice that on Android, the ads are all messed up. This needs to be fixed.

[2017-07-17 15:10] CameronSamuels opened #11 "Fix positioning of elements in the store"
In the store, a lot of the positioning of elements are very off.

The following image demonstrates this issue:

![the video ad button is touching the battleground name](https://user-images.githubusercontent.com/25394678/28274831-c096e79a-6ad7-11e7-8164-08834205d022.png)

This needs to be fixed.

[2017-07-17 15:15] CameronSamuels opened #12 "Change header sizing on many pages"
The heading for the screen and the back button on some pages including `store.html` and series mode selecting are way too big because they are relative to the `viewport`. This needs to be an exact value like `battle.html`'s header.

But didn't I say I wanted to use relative positioning in the battle page in issue #4? Well not the header. The header looks perfect in the battle page.

[2017-07-17 15:48] ghost commented on #11
This works more perfect than it ever was.

[2017-07-17 15:48] #11 closed

[2017-07-17 16:27] CameronSamuels opened #13 "Hide 2Player if using a non compatible device"
This will make it way more user friendly. We can change the link to something like the beta testing group. But the question is if we will hide it when a computer is presence, the size of the screen, or the touchscreen is not present.

1. Computer will be good and easy, and it won't allow the screen to be big which will make the weapons far away.
2. The screen size will not allow iPads to play mult

[2017-07-17 19:20] ghost commented on #9
Pull request #10 merged. Works great.

[2017-07-17 19:20] #9 closed

[2017-07-17 19:20] ghost commented on #13
Working on this now.

[2017-07-17 20:49] ghost commented on #2
I will work on this issue whenever the Android app is ready to be worked on.

[2017-07-18 01:55] CooperLan opened #16 "Aonarchy series mode B's not attacking"
On series mode in Aonarchy, the B's are not attacking.

[2017-07-18 02:21] ghost commented on #16
I can't seem to reproduce this problem. See the attached GIF animation of the screen recording.

![screen recording GIF animation file](https://user-images.githubusercontent.com/25394678/28297847-b1bce84c-6b35-11e7-97ed-fbcc13eb16cd.gif)

### Can you give me moe information including the following:
- Does it work on non series mode?
- Does it work on other battlegrounds?

### Also, comment with a

[2017-07-18 16:21] #13 closed

[2017-07-18 19:47] ghost commented on #12
I finished doing this in commits ca2c843 and dabe785. Works perfectly.

[2017-07-18 19:47] #12 closed

[2017-07-19 01:36] ghost commented on #2
Not working on my phone. Screen still is blank.

[2017-07-19 01:38] ghost commented on #5
Depends. What is the soundtrack for? Because if its for battle then do different songs and make them more suspenseful, not my positive storyline one. If its for menu or something, loop my song.

[2017-07-19 02:20] ghost commented on #5
It was going to be just the positive storyline soundtrack thoughout the gameplay, until we finalize the game.

[2017-07-19 20:50] ethanchoo opened #17 "Update Alief plains battle background"
The current background has a dinosaur footprint that shouldn't be there because it isn't in Dinotera.

We could update it by adding clouds or buildings.

[2017-07-19 20:51] ghost commented on #17
This is good to do. Send me the updated version once you complete it.

[2017-07-20 03:26] ethanchoo commented on #17
![img_1372](https://user-images.githubusercontent.com/30300679/28399205-506dd162-6cd1-11e7-879e-f4cb770c2a7f.JPG)

Do you think this is fine?
There probably needs to be more to fill the actual hills...

[2017-07-20 03:28] ghost commented on #17
Fantastic! I will assign this issue to me and add it to the game tommorow.

[2017-07-20 19:08] ghost commented on #17
Looks great, Ethan!

[2017-07-20 20:22] #16 closed

[2017-07-21 15:28] JacobGelder opened #19 "Fix MS Edge Animations"

[2017-07-21 15:46] ghost commented on #19
I can easily do this by adding `-ms-animation-name` (with the prefix) instead of without the prefix. I don't know if I want to do this though.

[2017-07-21 15:58] ghost commented on #17
It is in the game now! Great job @ethanchoo!!

[2017-07-21 15:58] #17 closed

[2017-07-21 17:46] JacobGelder opened #20 "Does not work on internet explorer"

[2017-07-21 17:47] ghost commented on #20
Thank you for this information. I will make it redirect to download Chrome :smile:

[2017-07-21 18:52] ghost commented on #20
Integrated in commit a2634e9

[2017-07-21 22:03] ghost commented on #20
Also integrated for IE 10+ in commit 6c9b1b6

[2017-07-21 22:03] #20 closed

[2017-07-21 22:05] cameronsamuels opened #22 "Hide scrollbars in MS Edge"
In the store page and maybe more pages, the scrollbars show in Microsoft Edge. They need to be invisible.

[2017-07-22 01:23] ghost commented on #22
This also happens in firefox.

[2017-07-22 05:05] CameronSamuels opened #24 "Redirect /2 to bocracy.bitballoon.com"
http://bocracy.bitballoon.com is the new alpha site and that should be used when going to `/2`.

Or we can just redirect `/alpha` to it so you stay on http://bocracy.com.

[2017-07-22 16:32] CameronSamuels opened #25 "Lower earnings from video ads"
How about 50 redbacks from each video ad? Currently it is 250 redbacks.

Once we add emeralds, it will be 1 emerald.

[2017-07-22 17:03] CameronSamuels opened #26 "Make character boxes have a percentage based border-radius"
In the store and in the series mode selection screen, the character images have `border-radius: 20px`. It needs to be `border-radius: 27%`.

[2017-07-22 18:17] ghost commented on #25
This is resolved in commit 310b779.

[2017-07-22 18:17] #25 closed

[2017-07-22 18:19] CameronSamuels opened #28 "Disallow play again in series mode"
In series mode, you can play again, and not only that, but you can do it for free.

This should not be allowed.

[2017-07-22 18:21] CameronSamuels opened #29 "Add animation to play again button"
This can be a fade animation just like in the series mode setup.

[2017-07-22 18:22] cameronsamuels opened #30 "Game Over Animations"
The game over sreen's stats can a spin and zoom animation like the character images in the series mode setup screen.

[2017-07-22 18:23] CameronSamuels opened #31 "Add animation to the store character images"
This can be a zoom and spin animation.

[2017-07-22 18:38] #31 closed

[2017-07-22 19:04] CameronSamuels opened #32 "Character unlock popup image not displaying"
The image source is broken as shown in the attached photo.

![bought-image](http://i.imgur.com/1CCk48j.png)

[2017-07-22 19:09] ghost commented on #32
Resolved in commit 4bf872e.

[2017-07-22 19:09] #32 closed

[2017-07-22 19:10] CameronSamuels opened #33 "Fix height for unlock popup in the store"
The popup is too big on some screens.

[2017-07-22 20:03] ghost commented on #26
Done in commit 70fc71b.

[2017-07-22 20:03] #26 closed

[2017-07-23 04:59] CameronSamuels opened #36 "Add keyboard controls"
This will be good to do.

We can have F and J keys attack and heal. We can have the space bar and enter play again or start play. We can have escape go back. We can have delete and F5 refresh.

[2017-07-25 03:28] CameronSamuels opened #37 "Animation not working in series setup in portrait"
The spin and zoom animation is only a zoom animation. This needs to also be a spin like in landscape.

[2017-07-27 03:22] ghost commented on #24
I don't know why I never closed this issue.

[2017-07-27 03:22] #24 closed

[2017-07-27 03:22] ghost commented on #33
I don't know why I never closed this issue.

[2017-07-27 03:22] #33 closed

[2017-07-27 03:25] CameronSamuels opened #38 "Use flags instead of text for series mode battlegrounds"
This will utilize the unused assets and make it feel nicer.

[2017-08-02 18:47] faithtsang opened #39 "Add specific weapons to every character"
Change the sword icon as a weapon to maybe teeth? Many of the more animal characters also have a similar issue. Maybe you could change them to teeth or claws or something a bit more natural for them. Maybe for claws you could have a hit mark something like this. See attatched file.

![claw](https://user-images.githubusercontent.com/30183802/28889176-d437b898-7788-11e7-9ce1-df14b3f70228.jpg)

That

[2017-08-02 19:38] ghost commented on #39
This will be done in the future. We are planning on removing the “freeplay” aspect and making every battleground the same format. Freeplay mode is easier to add because everything is random stats and simple. Because I just input freeplay characters into a list with just the names (no stats), it doesn’t have a weapon attached (just a sword). I will make all the freeplay battlegrounds (alinar and de

[2017-08-07 20:42] CameronSamuels opened #40 "Remove Kiip and use Google Adsense"
This will let the battling not interrupt in the middle of a battle and it will give us more revenue.

We can use the Google Adsense display ads (1) or page level interstitial ads (2).

1. This can show in between each battle
2. This can show in between each page load

This will require:
- Not getting banned from Google Adsense. The first time we used Google Adsense, we got a violation because some

[2017-08-08 16:26] CameronSamuels opened #41 "Fix og:image"
The `og:image` meta tag needs to have an absolute web address instead of a relative address.

[2017-08-08 16:29] #41 closed

[2017-08-12 02:18] CooperLan opened #42 "Characters are missing"
Characters dont appear on store or battle mode.

[2017-08-12 03:18] ghost commented on #42
They are appearing for me. Upload a screenshot to this issue.

This might be that your device is not displaying non https images because of cross origin policy. But if it is because of this, all the other images (like backgrounds or back buttons, etc) won’t appear either.

![store works](https://user-images.githubusercontent.com/25394678/29237385-dd8bbadc-7ee2-11e7-9696-067a018f7231.png)
![battle

[2017-08-12 03:37] #40 closed

[2017-08-12 03:39] #38 closed

[2017-08-12 04:04] #37 closed

[2017-08-12 04:04] #28 closed

[2017-08-12 04:08] #29 closed

[2017-08-12 04:09] ghost commented on #40
Removed Kiip in commit 2442f44

[2017-08-12 04:15] CameronSamuels opened #43 "Update icons"
The current icons are the old ones.

Also, we should use the icons in the lib repo and remove the icons here.

[2017-08-12 12:51] CooperLan commented on #42
How do I post screenshots

[2017-08-12 15:39] CameronSamuels commented on #42
Post them on slack.

[2017-08-12 17:15] #43 closed

[2017-08-12 17:33] CameronSamuels opened #44 "Health bars have some red around the green"
I can't seem to fix this currently.

![red inside full health bar](https://user-images.githubusercontent.com/25394678/29242973-75b82e36-7f5a-11e7-873e-dc9a6ec2f0d7.png)

[2017-08-12 17:50] ghost commented on #42
@CooperLan, is this on the Android app's offline version?

[2017-08-12 20:11] CameronSamuels opened #45 "Reference blib.tk for lib files"
Reference http://blib.tk instead of http://thebclickteam.tk/lib for lib files. This will use less code and request size.

[2017-08-12 20:32] #45 closed

[2017-08-12 20:43] CameronSamuels opened #46 "Remove .html at the end of urls"
We can do this by changing the file tree of:

[code]

To one like this:

[code]

[2017-08-12 20:56] #46 closed

[2017-08-15 21:15] CameronSamuels opened #47 "Make endless mode selector its own page"
Having the endless mode selector code on the home page slows it down and makes extra loading.

The home page is the most loaded page in the game. Every time it loads, it loads the series mode selector from the server. Some people don't even use this.

Putting it on its own page will make the game be faster, and will only load that code when a user goes to that page.

This will make it non-instant

[2017-08-15 21:38] #47 closed

[2017-08-15 21:54] CameronSamuels opened #48 "Make random unlock price the median"
This will prevent the random unlock being more inexpensive than the lowest price for a character.

[2017-08-15 23:32] CameronSamuels opened #49 "Remove battleground title"
Making the ammunist title easy to read is something I was never able to find a solution for and made me even think if we actually need a title.

This will speed up the game and use less code, it will solve this issue, and it will make it look more like you are in the scene.

This will remove the recognition of what battleground you are in, so we can make replace it with the full page background wi

[2017-08-16 22:04] faithtsang commented on #40
Wait a second though. Didn't you want us to click ads over and over again since it gave you 18 cents a click. The frequent clicker wasn't me although I thought clicking over and over again was a good thing. How can you get a violation for that? It shows that we're aware of customer's interests and we are able to show them relevant ads every single time.

[2017-08-16 22:16] CameronSamuels commented on #40
I never said that. I didn't want us to get violated.

[2017-08-16 22:37] ghost commented on #40
I actually think we should just not use Google Adsense display ads and just use video ads.

[2017-08-16 22:40] ghost commented on #42
I haven't gotten a response for this question so I will close this issue for now. Please still respond once you have a chance.

[2017-08-16 22:40] #42 closed

[2017-08-16 22:47] ghost commented on #42
@CooperLan, also, don't assign people to issues, let me do that because I will only have it assigned to a person currently working on that issue.

[2017-08-16 22:53] ghost commented on #39
To get up to date, I removed the "freeplay" structure of the game and there is only non-freeplay characters and battlegrounds. Because of this, we can now add weapons, but @thebclickteam/graphics must create them first.

[2017-08-16 22:55] ghost commented on #49
I did this in commit e8eb571.

[2017-08-16 22:55] #49 closed

[2017-08-16 22:56] #48 closed

[2017-08-19 18:21] ethanchoo opened #50 "Character shadows"
This would not apply to all characters, but there could be a capsule shaped shadow under every terrestrial character. This would be an easier addition than if every character had a more detailed shadow (something that could be added later in the game).

[2017-08-19 18:24] ghost commented on #50
Great idea. I might be able to use CSS shadows if we start using SVG's for the characters (which we should do but will take some time to adjust).

So like you said, simple shadows could possibly work.

[2017-08-19 18:25] ethanchoo commented on #50
I posted an example of this on slack

[2017-08-19 22:03] cameronsamuels opened #51 "Use Better Coding Style"
We can use more proper variable names (e.g. `#overlay` could be `#gameOver`) and we can use better equivalents of code that is more recommended (e.g. `innerHTML` could be changed to `textContent`).

These should really be done.

[2017-08-19 22:11] CameronSamuels opened #52 "Prevent holding down on images"
`img` tags (like the back buttons for example) allow you to hold down and open a menu.

This shouldn’t happen and can be prevented by adding `-webkit-touch-callout: none`.

[2017-08-20 00:45] CameronSamuels opened #53 "Fix the endless mode battleground looking bigger when active"
This can be fixed by changing the border color from `transparent` to the dark red color.

[2017-08-20 02:51] #53 closed

[2017-08-20 02:51] #52 closed

[2017-08-20 16:03] CameronSamuels opened #54 "Move b/ to the root folder"
This will use fewer data requests and will speed up loading.

The only reason I had this was that of the cache problem. I needed the user to get the latest version, but now I don't.

[2017-08-20 18:33] cameronsamuels opened #55 "Fit Game Into Visible Area"
In the battle page, for example, if you are viewing it in a phone browser, you have to scroll to see the whole thing. This should have no scrolling and have it be the height and width of the viewable area.

We can also add `-webkit-text-size-adjust: 100%` to stop zooming when rotating.

[2017-08-20 22:34] CameronSamuels opened #56 "Fix overflow in battle from buttons being to big"

[2017-08-20 23:46] #56 closed

[2017-08-21 00:54] CameronSamuels opened #57 "Prevent accidental back button clicks while battling"
Disabling the back button until 1 sec after the last click will allow people to not accidentally click the back button. It can be hidden when disabled so people don’t get confused.

[2017-08-21 00:56] CameronSamuels opened #58 "Add red background to #present"
This will fix seeing the game when presenting is supposed to happen.

[2017-08-21 00:57] CameronSamuels opened #59 "Fix upside down bomb weapon"
Rotating the actual image will fix this.

[2017-08-21 02:06] #58 closed

[2017-08-21 02:24] #57 closed

[2017-08-21 02:38] CameronSamuels opened #60 "Change back buttons to go to index.html"
It is not needed to go back in history anymore and is better to go to `index.html` now.

[2017-08-21 03:00] #60 closed

[2017-08-21 03:02] ghost commented on #59
I notice that it now is invisible. It might be just a problem with my computer.

[2017-08-21 17:42] CameronSamuels opened #61 "Use https blib.tk"
This can fix certain cors policy bugs.

[2017-08-22 23:04] ghost commented on #44
Hmm... Which format and program are you using? I know how to fix that as a solid photo, but I'll have to leave it to you for the code part. I can change just that part now though. I can't do a permanent fix but I can make it work for the time being.

[2017-08-22 23:05] ghost commented on #59
Send me the image. I can handle this sort of issue.

[2017-08-22 23:08] ghost commented on #55
That's a good idea. However, I know that depending on the internet program you use, The borders are different. You may have to do a bit of format layout in order to have to say, the Safari program and Google Chrome program to line up.

[2017-08-22 23:09] ghost commented on #50
Shadows would be a great idea. Perhaps you could do it for the aerial characters as well? It makes a lot of sense since shadows are more evidently cast from higher up than just on ground. But of course, terrestrial characters first.

[2017-08-22 23:20] ghost commented on #44
![border issue 2](https://user-images.githubusercontent.com/30183802/29591831-89a5c2fa-8766-11e7-94a4-099de23c6fa2.png)

[2017-08-23 00:08] ghost commented on #59
Uh, you can? I don't think so. It is working now on my phone.

[2017-08-23 00:11] ghost commented on #50
I have done some commits on this issue in [thebclickteam:battle-shadows](https://github.com/thebclickteam/bocracy/tree/battle-shadows) and it is for all the characters.

All I need to do are some fixes and lowering certain character images.

[2017-08-23 00:11] ghost commented on #44
Yes, it works on certain sizes of screens.

[2017-08-24 20:03] #61 closed

[2017-08-24 20:04] #59 closed

[2017-08-24 20:04] #44 closed

[2017-08-27 15:35] CooperLan opened #64 "Endless mode not working"
In endless it says webpage not available when you click play and it steals your readbacks

[2017-08-27 16:16] ghost commented on #64
1. What app are you using (online, Android, etc).
2. Does the big “Play” button work?

[2017-08-29 22:27] ghost commented on #64
I have found this is for the Android app.

Please create an issue [here](https://github.com/thebclickteam/bocracy.android/issues/new) for the Android app issues instead of b-Ocracy's general issues.

[2017-08-30 22:23] CooperLan commented on #64
The phone you gave me

[2017-09-02 01:26] ghost commented on #64
The big play button isn't showing up for me. It just might be a temporary thing though.

[2017-09-02 03:50] ghost commented on #64
The button at the top that is bigger & wider than the rest in [index.html](https://bocracy.com/b/index.html) is the “big play button”.

[2017-09-02 17:46] ghost commented on #36
I am closing this issue as we will now use pull request #63 for conversation about keyboard controls.

[2017-09-02 17:46] #36 closed

[2017-09-03 00:17] CameronSamuels opened #65 "Allow clicking on the entire character section to attack"
People that I see always click off of the character image. We should allow clicking anywhere on the character section element to attack/heal.

[2017-09-03 17:00] ghost commented on #54
I will close this issue and we will have conversation on pull request #66.

[2017-09-03 17:00] #54 closed

[2017-09-03 18:33] CooperLan opened #67 "Add Google Play Games achievements"
Need to add achevements for play games.

[2017-09-03 18:39] ghost commented on #67
This is a really good feature to add, but there is one problem stopping us from doing this.

We basically just have the game shown in a “WebView” which basically shows a website. That means that the content in the webview (basically everything) can’t interact with native elements, including the webview itself, in-app purchases, and in your case, Google Play Games achievements and leaderboards.

So

[2017-09-03 18:43] CooperLan commented on #67
Im aready fimilar with google play stuff

[2017-09-03 18:45] ghost commented on #67
I meant the developing of it and the other frameworks (PhoneGap and Cordova) need to be learned and used.

[2017-09-03 18:46] ghost commented on #67
I am going to close this issue and label it with “on hold” and “future” and will reopen it once we use Cordova.

[2017-09-03 22:34] #67 closed

[2017-09-04 21:28] #65 closed

[2017-09-04 21:28] ghost commented on #65
This works perfectly!!

[2017-09-04 21:31] CameronSamuels opened #68 "Add weapons to alinar and dericil"
We will need new weapons for this. @thebclickteam/assets, can you make some weapons for these characters if they do not have a weapon in the character image? Thanks!

Also, I noticed a `missile` weapon on the sasquatch B that I will remove.

[2017-09-05 03:50] cameronsamuels opened #69 "Character Name Improvements"
First, do you all think the character name should be above the character or should we make it gold like a trophy name plate (and stay where it is). If it is the name plate, then it will be the same width no matter what so it will look more consistent (which would be better). I say the name plate option.<br /> Also, should we remove the “B” and “A” from the character name (it is self explanatory an

[2017-09-05 20:00] ethanchoo opened #70 "Alligator gar school replacement"
Replace the alligator gar school with a ichthyosaur B.

[2017-09-05 20:01] ghost commented on #70
@ethanchoo, send me the ichthyosaur assembly file and I will add it to the game.

[2017-09-05 20:30] CameronSamuels opened #71 "Store Redesign"
@ethanchoo an I have thought of a perfect idea of a new layout for the store. Please comment with the layout image.

This is really good and should be done.

[2017-09-05 20:34] cameronsamuels opened #72 "Character Improvements"
These characters should be improved or remade: Scubbars

#94 is about a bug in the Teratul Rider.
#95 is a bug in the Flame Archer.

[2017-09-05 20:40] CameronSamuels opened #73 "Landing Page Redesign"
- The title should be removed and put in the background
- The modes (quick play, multiplayer, and endless) should be stacked up in the bottom left
- The store, story, and credits should be in the bottom right

[2017-09-05 22:49] ethanchoo commented on #71
Here is the idea:

![store image dummy](https://user-images.githubusercontent.com/30300679/30086768-846fed0e-9262-11e7-82c1-99b09c769191.PNG)

[2017-09-06 01:20] ghost commented on #70
Thanks, I will add it now.

[2017-09-06 01:23] ghost commented on #70
I just added it to the lib in commit [02f7db8](https://github.com/thebclickteam/lib/commit/02f7db8866dd884958a56999533e4b12c8770de8)

[2017-09-06 01:30] #70 closed

[2017-09-06 01:35] ghost commented on #71
@ethanchoo, can you send me the healing and health icons in the store layout idea image (as assembly files). I will work on this issue right now.

[2017-09-06 01:44] ghost commented on #72
I just updated the [archer A](https://github.com/thebclickteam/lib/commit/c7564feb3ea0a385cfff11c8d926bd079a304380) and [bucarrun assasin B](https://github.com/thebclickteam/lib/commit/b2682a5e037f9079956078bdb04e37634ba71c79)

[2017-09-08 03:07] ethanchoo opened #74 "Add sun shadow to Alief background"
The sun at Alief plains does not have a yellow shadow like it originally had.

[2017-09-08 03:09] ghost commented on #74
That is because it is a SVG instead of a PNG. I can look into adding the shadow.

[2017-09-08 22:00] ethanchoo commented on #74
Couldn't it be saved as an SVG from Assembly?

[2017-09-08 22:15] ghost commented on #74
I did save it from assembly but it removed the shadow.

[2017-09-10 19:56] CameronSamuels opened #75 "Make a press kit"
It can have:

- Brand assets (icon, logo)
- Asset guidelines
- Quick company and game information
- Links to legal documents (privacy policy)
- Press quotes
- Links to company and game pages

[2017-09-12 00:50] CooperLan commented on #16
Working now

[2017-09-12 00:52] ghost commented on #16
Good!

[2017-09-15 02:46] #75 closed

[2017-09-15 02:46] #64 closed

[2017-09-15 02:50] ghost commented on #48
This is not needed anymore with the new store layout.

[2017-09-17 01:55] ghost commented on #71
Great work Ethan! The store design looks great!

[2017-10-18 22:58] ghost commented on #67
This is a good idea, but I don't think it will be good for b-Ocracy. Maybe for another game.

[2017-11-02 20:20] CameronSamuels opened #81 "Evaluate main team members"
I have thought of some suggestions that I have gone through with our COO (@LexKilpatrick). I don't want to make any of you feel bad from them, so take them easily.

First, @faithtsang, you are very busy with certain things and never have time to work. Because of that, if you don't want to be apart of the team, that will be absolutely fine. I will still keep your work that you've already done in th

[2017-11-02 20:23] ghost commented on #64
All this is resolved with removing the Android app like previously discussed with executives.

[2017-11-06 01:39] CameronSamuels opened #82 "Change "play again" on endless mode to "continue""
This will stop confusion / wrong saying.

Also, we could make the button go back to the series selector because it says "continue".

[2017-11-07 20:57] #82 closed

[2017-11-07 21:09] CameronSamuels opened #84 "Change b-Ocracy Domain"
Using the xel.company domain will be better because we are almost to our release and having it use the xel.company domain will be better so we do not have to keep paying for bocracy.com

[2017-11-09 00:02] ghost commented on #68
This is a duplicate of #39

[2017-11-09 00:02] #68 closed

[2017-11-09 00:03] #74 closed

[2017-11-09 00:04] ghost commented on #81
I have received the answers I needed.

@faithtsang will become a developer for b-Ocracy, while @TedKweeBintoro will stay being a graphic designer.

[2017-11-09 00:04] #81 closed

[2017-11-09 00:05] ghost commented on #50
I now agree that we should put the shadows in the actual image because the code isn't working the best and will take up too much code. Plus, @ethanchoo said to only have a shadow on certain characters.

[2017-11-09 00:09] CameronSamuels opened #86 "Add twitter cards"
We can add twitter cards to b-Ocracy.

[2017-11-09 00:10] cameronsamuels opened #87 "Make b-Ocracy a PWA"
Making b-Ocracy a great Progressive Web App will be wonderful because there is no Android app anymore for b-Ocracy.

[2017-11-09 00:56] CameronSamuels opened #88 "Add Android meta"
We should add a web manifest for Android, as well as a theme color meta tag, and other meta data.

[2017-11-09 01:15] ethanchoo commented on #50
But on a realistic approach, you would want to make the shadow different in each one, because the light source (the sun) would give each character different shadows. For example, the setting of the city in the night would give the characters light shadow, while Alief would give the characters a dark shadow.

[2017-11-09 01:20] ghost commented on #50
Yeah, I see your approach @ethanchoo, the only problem is that this would be more complex. We can see what we can do.

[2017-11-09 01:26] #88 closed

[2017-11-09 01:28] ethanchoo commented on #50
You can do it the easier way, but the realistic way would be a bonus

[2017-11-09 01:35] ghost commented on #50
We can definitely do the simple way now, @ethanchoo. All you have to do is add the shadows to the character images and submit the update of the image.

Once we have time, we can add the more realistic way.

[2017-11-09 01:36] #86 closed

[2017-11-09 01:38] ghost commented on #84
I am thinking of making it `bocracy.xel.company` because it needs to be a domain or subdomain and not a folder.

Still, I think we can find a better way to do this.

[2017-11-09 22:43] ghost commented on #3
This is sort of a duplicate of #39

[2017-11-09 22:43] #3 closed

[2017-11-09 22:54] ghost commented on #87
I already created manifest, but we still have to do other things too.

[2017-11-09 22:55] CameronSamuels opened #93 "Disable Restarting Mid-game Using Keyboard"
When you press the spacebar on the keyboard during a battle, it allows you to restart.

We need to make it not do this.

[2017-11-09 22:58] CameronSamuels opened #94 "Update Teratul Rider Character"
The Teratul Rider B in Eora has the old Buccarrun Assassin B riding on it.

This needs to be updated to have the new character.

[2017-11-09 23:00] CameronSamuels opened #95 "Update Flame Archer Character"
The Flame Archer A in Alinar Snows should be updated because it has some white on it that makes it hard to look at when in the snow.

I suggest adding a thin black border to that white rectangle.

[2017-11-09 23:04] CameronSamuels opened #96 "Restart Animation Every Restart"
When you restart a battle, the battleground is presented. When you keep restarting, the animation continues where it left off causing it to zoom out, jump, and stop after it completes.

This could be fixed by not allowing you to restart until the animation appears, but sometimes you want to be quick in order to get a specific battleground.

The user would enjoy for us to keep allowing them to quic

[2017-11-09 23:12] CameronSamuels opened #97 "Improve Endless Selector Battleground Button Animation"
The battleground buttons in the endless mode selector have an animation when you click them.

The animation isn't exactly keeping the size of the button proportional.

To fix this, we need to make the smaller version of the button be thinner in width to match the proportions of the larger version of the button.

[2017-11-10 00:31] VishwamR commented on #94
On Thu, Nov 9, 2017 at 16:58 Cameron Samuels <notifications@github.com>
wrote:

Gotchu I is on it

[2017-11-10 01:02] VishwamR commented on #96
On Thu, Nov 9, 2017 at 17:04 Cameron Samuels <notifications@github.com>
wrote:

Here's a rough sketch of the starting screen.

[2017-11-10 02:45] CameronSamuels opened #101 "Update Privacy Policy"
The privacy policy needs some updating.

[2017-11-11 16:35] #101 closed

[2017-11-12 18:02] Dolphinbob opened #103 "Balance endless mode earnings"
The series mode earnings are way too much and the price is way to easy. I got 2500 and only used 1 character and paid 27 redbacks.

Maybe there could be a max of 500 earnings which makes sense and will stop people from getting so much. Or the max could be a factor of the cost (27 cost * 20 = 540 max earnings).

[2017-11-12 18:03] elinicksic commented on #103
And/or the cost could be more

[2017-11-12 18:07] Dolphinbob opened #104 "In game tutorial"
Adding an in game tutorial would be a good idea.

[2017-11-12 18:15] Dolphinbob opened #105 "Change game over stats screen"
It would be better to add icons for every stat because the redbacks have it like that. Another reason is that the text for the stat is not the full word, but it is “clk”. That looks bad. Also, the amount is in the circle for eveything except for the redbacks which is outside. It needs consistency.

[2017-11-12 18:17] Dolphinbob opened #106 "Make game over play again button be dark red"
The victory is dark green and it blends so this would look better too.

[2017-11-12 19:21] ghost commented on #103
I really love this idea. I agree to raise the price to pay for series mode (now endless mode). This will be smart to do so not every will do it.

Plus, making a max earnings is better than lowering the earnings. I like your formula for setting the max and I agree to have it somewhere around 500. Then only problem is, is that 500 would be for 1 character. So I think it should be *5 instead of *20 (

[2017-11-12 19:22] ghost commented on #104
I have thought of this idea before, but thought it would be too hard. But now I thought of a new idea to make it work better: using css’s `outline` property to emphasize the element to be interacted with.

[2017-11-12 19:23] ghost commented on #105
This is a smart idea. I like it. We can look into this more soon.

[2017-11-12 19:23] ghost commented on #106
This is a really simple one to do and it is a good idea.

[2017-11-12 19:43] ethanchoo commented on #103
I think the new price is fine, and the max should be good enough.

[2017-11-12 19:44] ethanchoo commented on #104
But in my opinion, the game so far is too simple to really have an effective tutorial.

[2017-11-12 20:15] ghost commented on #104
But still, it might be good to have. We’ll see

[2017-11-12 20:16] ghost commented on #103
So you are saying what? Both, none? Sorry

[2017-11-12 20:17] ethanchoo commented on #103
Both

[2017-11-12 20:22] ghost commented on #103
Ah! Ok. So if we do both, I think the price should be double (27 for archer —> 54) and the earnings should then be *5 the cost (archer 54 * 5 = 270). So this means that it will be harder to play endless mode and you can only profit a max of 4 times your cost. And I think they will earn the max really easily but at least you can’t get more earnings, but you can at least play more (to make it more f

[2017-11-12 20:23] ghost commented on #103
Also think of it as, you can unlock a character (goblin) by playing series mode once with these new changes.

[2017-11-14 01:20] xutopia commented on #106
Hi, I'm looking to contribute to OSS and I found this issue. Mind if I take it? Also, to which branch should I make the PR? Thanks!

[2017-11-14 01:46] ghost commented on #106
Hi @xutopia! I would love for you to take this issue! Thanks for contributing!

Making the pr under the `issue-106` branch would be most appreciative.

Thanks!  Sorry for the uncommented code.

[2017-11-14 02:05] VishwamR commented on #103
What if endless mode was like the hardcore mode of the game

[2017-11-14 02:13] ghost commented on #103
That's what we were originally going to do, but having it where you must select characters doesn't make a good user experience because the user has to take time AND understand to play endless mode. That is why we added the big play button to quickly play, so there could be a better user experience.

But thanks for the suggestion, as I also originally thought that was a great idea.

[2017-11-14 04:51] xutopia commented on #106
Hey @CameronSamuels, my pleasure! Thank you for the opportunity :)

I don't believe the repo has an `issue-106` branch for me to compare my PR to? Unless you want me to create PR to merge with `master` branch? Let me know which branch you want me to compare my changes to!

[2017-11-14 13:21] ghost commented on #106
Oh yes. Sorry. Compare to the `master` branch. I thought you meant what to call the dev branch. Sorry for the dilemma.

[2017-11-15 22:31] ghost commented on #95
Actually, we should update this character completely by making it like the new archer image instead of a flame version of the old archer.

@ethanchoo, can you do this?

[2017-11-15 22:38] CameronSamuels opened #108 "Update Siren A Character"
@ethanchoo, you made a new Siren A image. Was this meant for the current Siren A, or the future upgrade for it.

![siren](https://user-images.githubusercontent.com/25394678/32864086-63ac1266-ca23-11e7-90d7-ff5227517471.png)

I think this new image should be the current Siren A and then we can make a different image for the Dark Siren A (the upgrade).

How about that?

[2017-11-15 22:40] ghost commented on #108
Also @ethanchoo, I think that we should remove the curved lines that represent sound waves. IF we remove them, I think it looks nicer.

First, the image won't be animated so the sound waves will not move and it will be unrealistic.

Second, it gets in the way of the character.

Third, I think it is too much in the image and doesn't look good.

I can remove the sound waves myself if you want.

[2017-11-15 22:55] #93 closed

[2017-11-15 22:57] CameronSamuels opened #110 "Remove quotes from booleans"
I don't know why these were added, but we should remove the quotes for all booleans (all `"true"` and `"false"` should be `true` and `false`).

This will save processing power, lower the size of the file, and page load time.

[2017-11-15 23:46] ethanchoo commented on #108
Sure, you could remove the sound waves. I just intended it to only really be in the image I put with a few other characters, and not the actual game.

[2017-11-16 00:25] ghost commented on #108
Oh, I completely understand as you’ve done that before. So ok, I’ll remove it.

[2017-11-16 02:31] #94 closed

[2017-11-16 03:16] ghost commented on #84
@lexkilpatrick thinks we should keep bocracy.com. So I think we should do that then.

[2017-11-16 03:16] #84 closed

[2017-11-16 03:32] ghost commented on #106
This is now in pr #107

[2017-11-16 03:33] #106 closed

[2017-11-16 23:12] ghost commented on #108
I think that the A is too wide an looks very bad in the series mode selector. I can remove/shrink some of the parts of the image to make it look way better.

[2017-11-16 23:39] #97 closed

[2017-11-17 01:44] CameronSamuels opened #114 "Relative URL For Credits Button"
The credits button is a absolute url linking to bocracy.com.

Making it relative will make it go to the preview deploy for a pull request, and it will allow the iOS to go to the offline version without needing to refactor it.

[2017-11-17 02:37] #114 closed

[2017-11-17 03:05] #110 closed

[2017-11-17 18:31] CameronSamuels opened #119 "Fix Rotation of Multiplayer Loading Logo"

[2017-11-17 21:34] #119 closed

[2017-11-17 21:35] CameronSamuels opened #121 "Add a favicon.ico"
Adding a `favicon.ico` to the root of the deployed site will allow the b-Ocracy icon to work on any page of the website.

[2017-11-17 21:37] CameronSamuels opened #122 "Add a .gitignore"
Adding a `.gitignore` to the root of the repo, git won't track certain files.

I suggest not tracking:
- `.DS_Store`
- `._*`

[2017-11-17 21:40] #122 closed

[2017-11-17 21:41] CameronSamuels opened #124 "Add a shortcut icon to multiplayer"
The multiplayer page does not have a shortcut icon

[2017-11-17 21:44] #124 closed

[2017-11-17 21:48] #121 closed

[2017-11-18 20:19] #108 closed

[2017-11-19 00:57] CameronSamuels opened #127 "Make click to start take up whole section"
Having the click to start square take up the whole right side of the screen will  better to do.

First of all, it will require less code.

Second, you are able to click anywhere to attack.

Third, it will be more attentive to the user.

[2017-11-19 00:59] CameronSamuels opened #128 "Add a mouse pointer icon to the click to start"
This will require less code because we won’t have to adjust paddings it overflows etc. This will be something wonderful to do.

Second, it will look cooler than text (also good for simple non-text instructions)

[2017-11-19 01:01] cameronsamuels opened #129 "Notify the user for healing"
This will let people know the healing actually does something or has worked.

We can make it where the health bar border turns green when you heal. After you heal, it will turn back to normal.

[2017-11-19 17:17] cameronsamuels opened #130 "Battle background animations"
Like @ethanchoo said, adding animations such as bubbles in dericil will be cool.

[2017-11-19 21:05] CameronSamuels opened #131 "Always show back button when game is not running"
When the game is not actively running (during battleground presentation, and click to start), the back button should always show.

[2017-11-19 21:07] cameronsamuels opened #132 "Change positioning of alinar tree"
The tree is always where the character is standing. It should be moved.

[2017-11-19 21:08] CameronSamuels opened #133 "Change color of red in the health bars"
The red inside the health bars are too light. They could be the color of the bad character name background.

[2017-11-19 21:47] #133 closed

[2017-11-20 15:49] CameronSamuels opened #135 "Remove background animation for home page"
There is a moving background animation on the home page (doesn't work on iOS). I think we should remove this.

1. First, it will use less code
2. It doesn't look as cool anymore
3. Doesn't work on iOS so pointless code
4. We are going to have a new background that you need to see the whole thing at one time

[2017-11-21 01:15] #135 closed

[2017-11-21 01:29] #131 closed

[2017-11-21 01:43] #96 closed

[2017-11-21 19:34] ghost commented on #72
The warrior, flame archer, goblin horde, witchcraft, and anonymous have now been updated.

[2017-11-21 20:01] ethanchoo opened #141 "Allow reverse weapon animation"
Let’s make a way to define what direction the weapon animation goes. For example the slash marks should be reversed.

[2017-11-21 20:05] ghost commented on #141
That is a great idea.

[2017-11-21 20:06] #95 closed

[2017-11-21 22:13] #127 closed

[2017-11-21 22:13] #128 closed

[2017-11-22 22:51] CameronSamuels opened #150 "Allow multiplayer on desktop"
We need to improve the look of multiplayer first, but afterwards, we can add keyboard controls to play multiplayer on a computer.

[2017-12-06 03:05] CameronSamuels opened #155 "Remove Google Video Ads"
We do not earn money from this, so we might as well remove it. It doesn't work on the iOS app, so it is another thing I have to remove when creating the iOS app. Also, it doesn't work well on Android, and I don't know how to fix it. Plus, it uses a lot of code and data processing. And in the new store, I don't really want it in it.

[2017-12-06 03:06] #7 closed

[2017-12-06 03:09] CameronSamuels opened #156 "Remove random unlock"
This is good because:

- It removes another file to package and load
- It uses a lot of code
- It is too overpowered (unlocking powerful characters, using it can be to the user's advantage)
- Fixing the overpoweredness will use even more code
- The new store doesn't have anymore room for the random unlock button

[2017-12-06 03:13] CameronSamuels opened #157 "Character upgrades"
**Vision**: Upgrades could be unlocked in the store by paying redbacks. The user can upgrade any of the 3 stats (attack, health, healing, and maybe more in the future such as earnings or auto clicks). The price will go up every time the user upgrades. There will be a max of something many upgrades (maybe 5). The upgrades do not change the appearance of the character, just the stats.

Adding upgrad

[2017-12-06 03:16] VishwamR commented on #157
We could have character levels where if they lvl up they get exp points that can be used to level up stats. Bosses could drop more exp points than average enemies.

[2017-12-06 03:17] VishwamR commented on #157
We should add that in later after the game is bigger.

[2017-12-06 03:18] CameronSamuels opened #158 "Disallow search engine indexing of certain pages"
Pages such as the battle, multiplayer, endless, and the store shouldn't be indexed on search engines. This can be done with a `robots.txt` file.

Something like this should be good:

[code]

[2017-12-06 03:23] ghost commented on #157
@VishwamR, you mean something like redbacks but instead, it will upgrade characters and not unlock characters? That would be cool.

Maybe instead of creating a secondary currency (which would not be able to be bought in an in-app purchase, so there would be no purpose), we create the EXP like you said.

I will get this approved with @ethanchoo and @lexkilpatrick first, just like most of the stuff

[2017-12-06 03:26] ghost commented on #50
This is a great idea (making shadows) but @ethanchoo and I have thought of an idea to only put them in the actual image and not in the code. Because of this, I will close this issue, and we can continue to add shadows to all of the characters.

[2017-12-06 03:26] #50 closed

[2017-12-06 13:46] VishwamR commented on #157
Maybe we should still keep the secondary currency for stronger characters

[2017-12-06 22:18] ghost commented on #155
I will close this issue because we have agreed on removing the video ads (we might add them back later) in the new store. I will continue to not add them to the v3.0 store.

[2017-12-06 22:18] #155 closed

[2017-12-06 22:19] ghost commented on #156
We have agreed to remove the random unlock (and add it back later differently, after release). I will close this issue and continue to not add them to the Store v3.0

[2017-12-06 22:19] #156 closed

[2017-12-06 22:49] CameronSamuels opened #159 "Add stats icons to assets"
The stats icons (attack swords, health hearts, etc) need to be added to the repo.

[2017-12-07 21:21] #158 closed

[2017-12-08 02:21] VishwamR commented on #158
Random thought but shouldn't we change the symbol on the redbacks. Dollar
bills are used everywhere in the US so maybe we should put something else on them, like something b-Ocracy related.

[2017-12-08 02:22] VishwamR commented on #158
Symbol not still

[2017-12-08 02:23] VishwamR commented on #158
Something B-Ocracy related

[2017-12-08 02:31] ghost commented on #158
Great idea, I never really thought of that. We can look into finding something unique, but this will be low priority. I will create an issue for this.

Also, you can always contact me somehow else instead of commenting on an issue. For this specific question, you could've also created an issue yourself.

[2017-12-08 02:32] CameronSamuels opened #163 "Update redbacks icon"
Like @VishwamR said, we should remove the $ symbol from the redbacks icon and make it something else b-Ocracy related.

[2017-12-08 02:49] VishwamR commented on #158
K

[2017-12-08 03:06] VishwamR opened #164 "Bosses"
Since I have nothing to do in this major update I'll start working on the next one for boss fights

[2017-12-08 03:06] VishwamR commented on #164
For graphics people only

[2017-12-08 03:07] VishwamR commented on #163
I have a prototype ready I'll show it to you tomorrow

[2017-12-08 03:08] VishwamR commented on #164
Can each Designer take one boss? I'll do Eora

[2017-12-08 04:17] ghost commented on #164
The bosses will be added in a future update like you said. And just to say, you are contributing a lot, unlike what you though. So you are being a great help.

### How bosses will work
I like the idea of them being different characters than the normal characters. So yes, you can design the ones you prefer and show them to me.

I also think that we should not have it be "Eora Boss" or "Aonarchy Bos

[2017-12-08 04:20] VishwamR commented on #164
I'm calling the Eora boss the Eoran Mud Monster

[2017-12-08 15:15] ghost commented on #164
Cool name

[2017-12-09 04:19] VishwamR opened #165 "Change Batalifor General name"
I feel like we should change the name of the batalifor general to batalifor captain because general is an extremely high ranking and it should be reserved for a boss

[2017-12-09 04:36] ghost commented on #165
Yes, that is a great idea! We could have the current "Batalifor General" be the "Batalifor Captain" and then create a "Batalifor General" or something for one of the boss battlegrounds.

We can look in to this, @ethanchoo what do you say?

[2017-12-09 15:46] VishwamR commented on #165
I have the general and the background finished. The background is a
laboratory.

[2017-12-09 17:52] ghost commented on #165
The laboratory background I think should be a different battleground. But the new batalifor general looks great!

But do you think we should name it the "Batalifor Alpha" and then the current general could still be the "Batalifor Captain"?

Because I associate a general as very similar to a captain, but the images look  completely different. The new one looks more like the alpha (the leader of eve

[2017-12-09 19:04] stonejess commented on #164
Should we have a robot mech B? If so I have that undercover

[2017-12-09 19:05] DatDopeGamer commented on #164
By the way, this is stone, ur intern

[2017-12-09 19:19] ghost commented on #164
Yes, we will add a robot mech B, @DatDopeGamer. I think we may already have one made by @ethanchoo but not in the game yet. Sorry.

If you want to do something else, you can either create issues on GitHub for ideas or bugs, or you can still design other things. But if you want, you can upload your robot mech to this issue for us to see, and maybe we could use it.

Thanks!

[2017-12-09 19:28] VishwamR commented on #165
I think we should keep it as a general and the alpha should be a giant robot

[2017-12-09 19:40] CameronSamuels opened #166 "Google Analytics Events"
Adding Google Analytics events will allow us to track specific events the user triggers. This will let us know what features people are using, and if they actually are playing the game.

### Events we should track
#### Battle
- [x] Losing / Winning a battle (endless and normal play)
- [x] Restarting a battle (restart button)
- [x] Used the keyboard for the first time (that page view)
- [x] Healing

[2017-12-09 19:41] ghost commented on #165
Yes, that is good. Now that we will have another character that is better than the new general, you can do what you just said.

[2017-12-09 20:31] ghost commented on #163
I will add this to the game now! Thanks, @VishwamR!!

[2017-12-09 20:34] VishwamR commented on #163
Can you tell me when they're in thx

[2017-12-09 20:42] #163 closed

[2017-12-09 21:31] #159 closed

[2017-12-09 21:33] cameronsamuels opened #170 "Front end checklist"
The <https://frontendchecklist.io> website includes a checklist of things we should do before we finally release b-Ocracy.

[2017-12-09 22:21] #165 closed

[2017-12-09 23:20] CameronSamuels opened #172 "Add Locked Chains to assets"
@ethanchoo previously created an image of chains and a padlock for use in the store for when a character is not unlocked.

I will add this to the repo.

[2017-12-10 00:51] #172 closed

[2017-12-10 06:17] ghost commented on #157
I will add upgrades to b-Ocracy before it releases. They will be bought using redbacks and will upgrade the 3 stats.

Be aware that I will add the upgrades to be unlocked using the secondary currency and experience later on after the game releases. This is just for now.

[2017-12-10 18:55] stonejess commented on #164
No problem, I have various ideas and I am reviewing them to see if they are possible. I will try and share the ideas as soon as possible.

[2017-12-10 19:01] ghost commented on #164
Ok, sounds good!

[2017-12-10 19:07] DatDopeGamer opened #174 "Islands"
When I checked out the app, it took me straight to a battle, instead of taking me to the island options. Is this a new update? If it’s not, it might be a bug.

[2017-12-10 19:08] ghost commented on #174
This is correct. We removed the "maps" (what you called islands) earlier because we are going to add them back to the game once they are completely ready.

Thanks! I will close this issue.

[2017-12-10 19:08] #174 closed

[2017-12-11 01:33] #73 closed

[2017-12-11 02:27] DatDopeGamer opened #176 "Team"
I noticed I have not been added to the team at the front page. Can you please add me?

Thanks, stone

[2017-12-11 02:49] ghost commented on #176
I will add you soon, but for now, I'll wait. You are doing a great job. The reason I am waiting is because I need to get you approved by the COO at the company.

[2017-12-11 03:26] #71 closed

[2017-12-11 03:43] CameronSamuels opened #178 "Makes credits play button use a relative url"
This should happen for things like the iOS app.

[2017-12-11 12:39] stonejess commented on #71
Looks perfect

[2017-12-11 12:39] stonejess commented on #176
👌🏻

[2017-12-11 20:59] ghost commented on #178
I will also add `/index.html` to all of the url's without it.

[2017-12-11 21:14] #178 closed

[2017-12-11 21:16] ghost commented on #176
@DatDopeGamer, I have now gotten your hiring approved by the COO of the company. You are officially in. I will text you for the final actions. Congrats! 🎉

[2017-12-12 21:58] CameronSamuels opened #182 "Combine with the bocracy-ios repo"
We can create an orphan branch on this repo for the iOS app instead of having multiple repos for b-Ocracy.

This is good because:
- Less repos
- More together and organized
- No need to switch between 2 different repos
- No need to clone 2 repos to your computer
- Less to manage
- Issues and pr's can be together
- Less times having to add the same collaborators to repos

[2017-12-13 01:01] ethanchoo commented on #164
The boss idea is quite interesting, however I am running out of ideas for unique bosses in the game, so maybe you could share some ideas that you have.

[2017-12-13 01:54] ghost commented on #164
@VishwamR, any ideas to tell @ethanchoo?

[2017-12-13 13:14] VishwamR commented on #164
Try taking the theme of each region and create a sort of beast reflecting
on it

[2017-12-13 23:49] benz-le commented on #182
Yes, this is a good point you have. Would we have to import everything from this repo to the ios repo?

[2017-12-14 00:00] ghost commented on #182
We will add the bocracy-ios code to THIS repo. We will put it on an orphan branch called `master-ios`. This can't be done by anyone except us, due to git (we are not merging a branch, we are creating a branch that will always stay, so you can't create a pr for this, therefore you can't do it). Sorry.

[2017-12-14 00:01] ghost commented on #182
@Nova281, you can always help on another issue.

[2017-12-14 00:02] benz-le commented on #182
Ok

[2017-12-14 00:13] Nova281 opened #183 "In-game tutorial"
We could add a tab or any way to create instructions for the game. This will make it easier for newcomers to the game.

### @cameronsamuels's edit:
There will be a "Tutorial A" (waiting for a better name) that guides the player on how to play during their first few steps.

[2017-12-14 01:14] VishwamR commented on #183
That's a good idea.

[2017-12-14 01:24] benz-le commented on #183
An in-game tutorial would be fine as well except takes more time which works better.

[2017-12-14 01:44] ghost commented on #183
An in game tutorial does take more time but it would be more beneficial (every one will be doing it and understand). @Dolphinbob has already created an issue (#104) about an in-game tutorial.

Is an in game tutorial fine, @Nova281, & @VishwamR?

[2017-12-14 01:59] benz-le commented on #183
For now, there could be instructions to the game.

[2017-12-14 02:17] ghost commented on #183
Well they're already in the App Store description where people will download the app.

[2017-12-14 02:29] VishwamR commented on #183
We could add in a tutorial A that teaches you how it all works

[2017-12-14 02:34] benz-le commented on #183
Ok understood then

[2017-12-14 02:34] benz-le commented on #183
Agree with Vishwam

[2017-12-14 02:35] VishwamR commented on #183
I guess I'll start designing

[2017-12-14 02:41] ghost commented on #183
That was also my idea, add a character that guides you playing. Thanks, @VishwamR, and @Nova281 for the thinking.

I will close the other issue (#104) and mark it as a duplicate because this has more information.

@VishwamR, yes you can design a tutorial A if you insist. @ethanchoo might think of a better name.

[2017-12-14 02:42] ghost commented on #104
This issue is now #183.

[2017-12-14 02:42] #104 closed

[2017-12-15 13:08] stonejess opened #184 "Holiday Season Events"
I like that our deadline in on Christmas. It’s like a perfect Christmas present!

Also, we could add a present that you can get for free, and if you want more you can buy them with gems/ other.

[2017-12-15 15:03] ghost commented on #184
That would be cool but this would be for next year due to the time we have.

Thanks for the idea!

[2017-12-15 15:17] VishwamR commented on #184
Good idea for holiday events.

[2017-12-15 19:02] ghost commented on #166
All I have to do now is add the new store GA events.

[2017-12-15 19:03] CameronSamuels opened #186 "Add a CODEOWNERS file"
This will be good to have because it will require someone from the b-Ocracy team to review. This means the executive team can't merge unless if a b-Ocracy person reviews.

We can make it be where the b-Ocracy team is required to review all of the files.

[2017-12-15 20:53] #186 closed

[2017-12-15 20:56] stonejess commented on #184
Ok thanks!

[2017-12-15 23:03] ghost commented on #157
I have finished these changes and it looks fabulous! I will push the changes to GitHub later this evening.

[2017-12-15 23:08] CameronSamuels opened #188 "Zoom in the redbacks icon in the game over screen"
On the game over page, the old redbacks icon filled the entire stat circle. Right now it doesn’t. We should zoom the image so it fills it entirely.

[2017-12-15 23:17] cameronsamuels opened #189 "Don’t allow playing in a repeated battleground"
Not allowing battling in the same battleground 2 times in a row will be good because it can keep it from getting boring and also the before battle presentation won’t look bad when it is the same battleground.

[2017-12-16 00:49] #166 closed

[2017-12-16 00:49] #157 closed

[2017-12-16 19:27] #188 closed

[2017-12-17 17:39] CameronSamuels opened #191 "Allow GA to work on file protocol"
The Google Analytics don’t work on the iOS app because they only work on an online website. This can be fixed by adding certain code that allows it to work on the iOS app.

The only bad thing is (which doesn’t have to do with this issue) that we can’t track people who don’t have an internet connection (so data will be skewed).

This is also the last thing I can think of before we submit to product

[2017-12-17 18:29] #191 closed

[2017-12-19 19:26] #182 closed

[2017-12-19 21:52] Dolphinbob opened #193 "Round the stat values in the store"
The stats sometimes process with a slightly off precision like in the screenshot. This needs to be fixed.

![3cbb1426-00d8-4fdf-b40d-cc76064238a0](https://user-images.githubusercontent.com/32620307/34180530-a1ccd15e-e4d4-11e7-9bb0-5081710c32be.png)

[2017-12-19 21:53] Dolphinbob opened #194 "Update stats on screen when you upgrade"
The stats don’t update on the screen when you upgrade in the store.

[2017-12-19 21:55] Dolphinbob opened #195 "Make a maximum amount of upgrading"
Not allowing users to upgrade a single character a certain number of times will stop characters from becoming too powerful.

[2017-12-19 21:56] Dolphinbob opened #196 "Show the amount of redbacks the user has"
You can’t see how many redbacks you have.

[2017-12-19 21:59] ghost commented on #196
This is something I was going to do. Thanks for creating an issue for it.

[2017-12-19 22:11] ghost commented on #195
This is a great idea. I sort of thought of this, but now we have an issue for it. Thanks!

[2017-12-19 22:12] ghost commented on #194
Thanks a lot. I never saw this. I will definitely fix this.

[2017-12-19 22:12] ghost commented on #193
Thanks so much. That is horrible. This is a simple fix and I’ll make sure to fix it soon.

[2017-12-21 15:10] stonejess opened #197 "DEADLINE"
We have less than 5 days till Christmas which is our new update!

[2017-12-21 16:02] ghost commented on #197
Actually, 4 days. And not even that much: it releases 12:00AM UTC (Dec 24 @ 6:00PM our time). So pretty much 3.x days.

I'll close this issue. Thanks for helping.

[2017-12-21 16:02] #197 closed

[2017-12-21 16:18] ghost commented on #22
This is not needed anymore because there is no scrolling in b-Ocracy now.

[2017-12-21 16:18] #22 closed

[2017-12-21 20:25] #189 closed

[2017-12-21 21:40] #194 closed

[2017-12-21 21:42] #55 closed

[2017-12-26 01:41] stonejess opened #203 "Working hours"
Hey, I’m able to work more because I got a laptop for Christmas 🎄!

Also, if you need the graphics for the new location I have it ready when you need it.

[2017-12-26 20:46] ghost commented on #203
Hey @stonejess. That's great. But please do not create issues for things like this, and things like #197. Thanks!

You can send me the graphics when you get a chance.

[2017-12-26 20:46] #203 closed

[2017-12-30 18:48] stonejess opened #204 "iOS app progress resetting"
When I tested the app, I had to get off for a while. When I came back, I had zero Redbacks and all of the characters I bought became locked. I think this might make users rage.

[2017-12-30 18:48] stonejess commented on #204
*get off

[2017-12-31 01:24] ghost commented on #204
I agree. This could possibly be from something I've seen before in other iOS app's I've made. I thought I fixed the problem, but I can look at it again. Thanks!

[2018-01-01 03:26] VishwamR opened #205 "Upgrade refresh"
Every time I upgrade a character it doesn't show the stat change unless I go to another page and come back

[2018-01-01 15:30] VishwamR opened #206 "Alinar attack animations"
All the attack animations in alinar went to potato and are the original sword attack animations. I'm not sure if this is a glitch or if it's just unfinished. If it's unfinished is there anything I can do to help.

[2018-01-01 16:01] VishwamR commented on #196
Are we going to keep it so that you can see how many you have on the main screen or in the store

[2018-01-01 20:41] VishwamR commented on #193
Umm it happened again

[2018-01-01 20:41] VishwamR commented on #193
Umm it happened again

[2018-01-01 20:42] VishwamR commented on #193
Idk how you attach a screenshot but I'll show it to Cameron

[2018-01-01 20:45] VishwamR commented on #206
All not ask

[2018-01-01 20:45] VishwamR commented on #206
Btw it happens if dericil PvP

[2018-01-01 21:31] ghost commented on #206
Yes. This is supposed to happen because they were not made yet. You can design them if you want. I will close this issue and mark it as a duplicate of #39 because that is the issue similar to this. Thanks for noticing!

[2018-01-01 21:31] #206 closed

[2018-01-01 21:33] ghost commented on #193
Well are you using the iOS app? If so, the iOS app hasn't been updated to fix this issue. If you are using bocracy.com, then maybe it is a cache problem. This just gave me a reminder to purge the cache so the updates are for sure going to show.

[2018-01-01 21:34] ghost commented on #196
@VishwamR, just in the store. Do you think it should also be somewhere else?

[2018-01-01 21:36] VishwamR commented on #193
Reopened for ios

[2018-01-01 21:36] VishwamR commented on #193
Reopened for ios

[2018-01-01 21:36] #193 closed

[2018-01-01 21:37] ghost commented on #205
Yes this was already resolved in pr #200, and found in issue #194. Again like in issue #193, it may be a cache problem, or because you are using the unpatched iOS app. I will close this issue and mark it as a duplicate.

[2018-01-01 21:38] ghost commented on #193
@VishwamR, you are saying you were using the iOS app?

[2018-01-01 21:42] #205 closed

[2018-01-01 22:51] VishwamR commented on #196
No I was just wondering

[2018-01-01 22:51] VishwamR commented on #193
Yup

[2018-01-01 22:55] VishwamR commented on #205
When are we going to patch the iOS app?

[2018-01-01 23:01] ghost commented on #205
Soon after I get a few more things done. I am projecting maybe we should release it on Feb 1st. This is a simple day being the first day, plus it is National Freedom Day in the US (b-Ocracy).

[2018-01-01 23:31] VishwamR commented on #205
K

[2018-01-05 02:08] stonejess opened #207 "Show back button on game over screens"
Once you win or lose, you have to do another battle then hit a back button in the top corner. It’s so small the most people don’t notice it. When it ends, there should be a button that sends you back, instead of starting a battle to hit the button in the corner.

[2018-01-05 02:20] VishwamR commented on #207
Good idea it is kind of annoying when you have to start a battle

[2018-01-05 22:42] ghost commented on #207
This makes sense. That sounds good. I will patch this in the next release.

[2018-01-08 02:04] stonejess opened #208 "Maps"
When playing the app, I whent to eora no joke, 9 times! Not say this is a bad thing because I miss the maps and they should be added back.

[2018-01-08 02:07] VishwamR commented on #208
I think that's going to be patched in the Feb update

[2018-01-08 12:50] stonejess commented on #208
Thanks

[2018-01-08 22:26] ghost commented on #208
No, @stonejess and @VishwamR, the maps will be added back later after the Feb update.

[2018-01-08 23:20] VishwamR commented on #208
Not that the area repeat

[2018-01-08 23:25] ghost commented on #208
So you are saying #189?

[2018-01-09 00:08] VishwamR commented on #208
Yep

[2018-01-09 02:24] ghost commented on #208
Should I mark this as a duplicate and have @stonejess create an issue for adding back the maps ("story mode")?

[2018-01-09 13:32] VishwamR commented on #208
Campaign mode

[2018-01-09 13:33] VishwamR commented on #208
K but did u get the redesigned maps I sent u

[2018-01-09 20:47] ghost commented on #208
Not the latest updated ones.

So @stonejess, you could create an issue for the campaign mode, if you want.

[2018-01-09 22:26] stonejess commented on #208
k, sounds good. i have a backstory that might go well with the game

[2018-01-10 12:43] stonejess opened #209 "Campaign mode"
You start off with maps, and before any of the places show, you have to go to a training area. This is where teacher a (or something else) teaches you how to battle. Once you’re done training, one place on the map appears. You have to defeat all of the b’s and the boss to get to the next level. The bosses drop something (🤷🏻‍♂️) that you have to collect to go to the special area to win the game. Fi

[2018-01-10 12:46] stonejess opened #210 "Battleground Background Animations"
The animations in the background are really easy to do. You make a stop motion or something else.
Then when the battle starts, the code thinks, when battle starts, play animation.

[2018-01-10 22:27] ghost commented on #208
We already have a backstory @stonejess by the way. You can read it at https://bocracy.com/story

[2018-01-10 22:30] ghost commented on #209
I like calling the tutorial the training area. This training area should be when you start your first battle anywhere (not just campaign mode).

@VishwamR has already created the campaign level paths. These have bosses and battlegrounds that progress.

[2018-01-10 22:31] #130 closed

[2018-01-10 22:32] ghost commented on #210
It will not be a stop motion animation, it would be a svg animation. This was talked about in issue #130. It marked it as a duplicate and we will use this issue now.

[2018-01-10 22:32] #208 closed

[2018-01-11 00:46] stonejess opened #211 "Ads"
Do you think we should add ads or do it later?

[2018-01-12 01:10] ghost commented on #204
This issue will be watched and if it becomes a problem again, we will fix it.

[2018-01-12 01:10] #204 closed

[2018-01-13 20:56] #207 closed

[2018-01-13 21:04] ghost commented on #195
Hey @ethanchoo, @VishwamR, & @stonejess, how many times should be the maximum times you can upgrade a single character? Should it be 5 or 9 times, or do you have a better idea?

9 would be good because that means the maximum upgrade cost would be 900 (until we change things). But 5 would be better because it is a common number and the characters won't get too overpowered.

What do you think?

[2018-01-13 21:10] cameronsamuels opened #213 "Placeholder for a locked character's upgrades"
Adding a placeholder for the upgrades when the character is locked would be good so the upgrades area is not blank.

The picture below shows how the upgrades are blank when the character is locked.

![screenshot](https://user-images.githubusercontent.com/25394678/34910081-b6bde244-f873-11e7-87f5-03e0fdf1f6cc.png)

[2018-01-13 21:56] #196 closed

[2018-01-13 22:16] #103 closed

[2018-01-13 22:18] ghost commented on #103
I resolved this issue, but I did a different approach which I think is better and is definitely less code. All I did was make a maximum amount you can earn.

This is better because not only does it use less code, but it also is good no matter how much characters you are using. If you have one character, good, you played hard. If you had a lot, good, you didn't get an insane amount, the game is sti

[2018-01-13 22:42] VishwamR commented on #195
9 for now but after campaign mode is added in it should be raised to 70
since the enemies get stronger

[2018-01-13 22:43] VishwamR commented on #213
On it

[2018-01-13 22:51] ghost commented on #195
But upgrading a character 70 times? Isn't that a lot? Shouldn't it be 20 at the most? Because the freeplay (big play button), endless mode, and multiplayer mode all don't get stronger. So it would be over powered. So, @VishwamR, is 20 better? The campaign won't get that hard. And I can make it 20 right now if so. Does that sound good?

[2018-01-14 02:42] VishwamR commented on #195
How about we raise it after we add campaign mode

[2018-01-14 19:50] ghost commented on #195
Are we really going to make the game get so hard that the upgrades go until 70 upgrades? The archer A would have 12,000 health with only 35 upgrades! So that is 24,000 health with 70 upgrades! Are we really going to make it that hard?

I just want to know. Don't take this as an angry rant😆 .

[2018-01-14 20:14] VishwamR commented on #195
How about the health going up by 150 instead of the regular

[2018-01-14 20:37] ghost commented on #195
So that means that 70 upgrades is 12,000 health for the Archer A.

[2018-01-14 21:44] VishwamR commented on #195
Yes

[2018-01-14 21:47] ghost commented on #195
Ok so I'll do 20 for right now and once we add campaign mode, we'll increase to 70. And when we do, we should also make it where if you have more than 20 upgrades and you are playing something other than campaign, then it will make the stats like it would be with 20 upgrades (but stats will be as told when in campaign mode). Does that sound good?

[2018-01-15 23:13] VishwamR commented on #209
Done with dericil

[2018-01-19 00:32] stonejess opened #216 "Campaign mode"
At the start of the game, you design your avatar, which you control in the game. you chose standard clothes to start of with. Then the game begins.

You start off in the training camp. The training master teaches you how to battle, and he lets you try out a few battles on your own, where you earn only 100 Redbacks, since the player is just starting off.

Next, you go to to the middle of the island

[2018-01-19 00:53] ethanchoo commented on #216
I think it sounds pretty interesting! How many pieces of the letter will there be?

[2018-01-19 14:02] stonejess commented on #216
One for each zone  we have

[2018-01-19 14:02] stonejess commented on #216
That might be too much

[2018-01-19 14:03] stonejess commented on #216
Whatever works for you

[2018-01-19 14:15] VishwamR commented on #216
We'll have to put that in slowly piece by piece

[2018-01-21 20:04] ghost commented on #216
This sounds really great! Here are my thoughts:

### Avatar
This is a wonderful idea. This gives another way people will enjoy playing. It is also a way where there is another thing people can buy with their redbacks. We can add more clothing every update. The avatar can be on the campaign trails moving to the level you select/hover over.

### Training camp
This is another great idea. I like the n

[2018-01-21 20:11] VishwamR commented on #216
Trade and buy exclusive clothing with villagers?

Also how about achievements

[2018-01-21 21:41] ghost commented on #216
Achievements sound cool!

Yeah, the villagers can be the clothing trading. Thanks!

[2018-01-22 15:58] stonejess commented on #216
there can also be an arena to battle other players

[2018-01-22 17:09] VishwamR commented on #216
Good idea

[2018-01-29 01:30] ghost commented on #209
Why was this issue closed?

[2018-01-29 02:17] VishwamR commented on #209
Campaign mode levels were made not the training levels

[2018-01-29 02:39] stonejess commented on #209
This is a copy of #216

[2018-02-01 21:59] #209 closed

[2018-02-02 21:48] ghost commented on #4
I think this is good. I'll close this.

[2018-02-02 21:48] #4 closed

[2018-02-02 21:49] ghost commented on #211
I'll close this issue. We won't add ads anytime soon. I sort of want b-Ocracy to be ad-free and possibly other apps to have ads.

[2018-02-02 21:49] #211 closed

[2018-02-03 23:16] cameronsamuels opened #217 "Create a notification when reached maximum endless earnings"
This was requested by @VishwamR in pr #215.

[2018-02-04 17:43] cameronsamuels opened #218 "Fix iOS app loading logo"
The b-Ocracy loading logo does not work on the iOS app. This needs to be fixed for v2.1.0.

We should also use the new homepage background as the loading logo and not the current loading logo.

[2018-02-04 22:43] ghost commented on #218
I found the problem. The logo not showing up is caused by line 3 of `live.js`(on the `master-ios` branch).

The reason for this is because it is referencing the online logo. So whenever the user has no internet (including disabling cellular data usage for the specific app like I did) then the logo doesn't show up (unless if it is already cached).

This needs to be fixed for many reasons:
- The log

[2018-02-05 14:01] VishwamR commented on #132
I gave de background to you Cameron

[2018-02-06 23:11] stonejess opened #219 "Background music"
Background music would be a great addition to the game. I have some ideas if we add it.

[2018-02-06 23:21] ghost commented on #219
We already have many background songs that we have already created. The only problem is, we removed it because it wouldn't work on iOS due to an iOS update that disabled audio on websites (unless if they were played when something is clicked, which trust me, won't work in this situation).

[2018-02-06 23:56] stonejess commented on #219
Ok Thanks!

[2018-02-07 00:02] ghost commented on #219
We could possibly add sound the iOS app though through native iOS code and not the embedded website. That will work better than on the embedded website and obviously it will actually play.

We can leave this open. I like the idea.

[2018-02-18 17:38] stonejess opened #220 "Disable auto heal"
Every time you kill an opponent, your health go up so much, you practically can’t die. In addition, it makes the healing tap useless since you heal from your opponents. If we change this, it makes the game harder and you have to strategize.

[2018-02-18 20:34] VishwamR commented on #220
Good idea

[2018-02-22 15:50] ghost commented on #220
That is nice. Possibly, instead of removing this feature, maybe making the auto heal be a lot less (to where it heals very little).

This will also help with users getting so much rewards from endless mode.

[2018-02-23 01:17] stonejess commented on #220
I agree, because I sometimes get over 13,000 red backs. Also I’m addicted

[2018-02-23 01:21] stonejess opened #221 "Replace Byter B in A87 Cannon with the World War A"
A87 Cannon a has a small Byter b at its bace. I think this should be removed or changed because it makes no sense that you are on the a team and playing with a b character.

[2018-02-23 01:22] stonejess commented on #221
I’m not trying to change all the hard work you put into this game but I’m just trying to make it better.

[2018-02-23 01:22] stonejess commented on #221
Just saying

[2018-02-23 19:32] ghost commented on #221
We originally added that Byter B as an easter egg. We can still remove it if you want.

[2018-02-24 01:00] stonejess commented on #221
That’s cool. We could add a backstory about how our hero reprogrammed a byter b to be on the a side. (Ktso Easter egg kind of)

[2018-02-24 01:01] stonejess commented on #221
You don’t have to delete it

[2018-02-24 01:44] VishwamR commented on #221
Wasnt there a traitor a that worked on the opposite side.

[2018-02-24 03:47] stonejess commented on #221
I don’t know

[2018-02-24 03:52] stonejess opened #222 "Iron Dollar (Secondary currency)"
Gems 💎 could be added to the game to make upgrades easier if they don’t have enough Red-backs. Also it opens a chance to add in app purchases and adds to get gems if they need them badly.

[2018-02-24 03:53] stonejess commented on #222
We could save the in app purchasing for later if you want

[2018-02-24 16:23] VishwamR commented on #222
We have an iron dollar designed

[2018-02-24 16:23] ghost commented on #221
@VishwamR, are you talking about the Rogue B?

[2018-02-24 16:24] ghost commented on #222
@stonejess, like @VishwamR said, the iron dollar will be this second currency.

[2018-02-24 16:25] VishwamR commented on #221
Yee

[2018-02-24 16:25] ghost commented on #221
Close this issue?

[2018-02-24 16:26] VishwamR commented on #221
No we should change it to maybe a WWII b

[2018-02-24 16:27] VishwamR commented on #221
A not b

[2018-02-24 16:34] ghost commented on #221
What?

[2018-02-24 16:35] VishwamR commented on #221
We should replace the byter b with a ww A

[2018-02-24 16:54] ghost commented on #221
In the A87 Cannon? If we do, we can't have the easter egg. Either way, it's fine. I actually would be for your idea, @VishwamR, of changing it to the WW A.

@stonejess, keep the Byter and the easter egg, or change it to the WW A?

[2018-02-24 17:22] cameronsamuels opened #223 "Recode battle backgrounds"
Currently, battle backgrounds are loaded twice, one on the left side, and second on the right side.

This is a terrible way to do this because:
- It uses more data and battery
- It slows down the loading
- It uses more code
- It requires shifting of the background twice

This can be solved by:
1. Making the left and right sections be transparent
2. Making the background be implemented in the body

[2018-02-24 17:26] #132 closed

[2018-02-24 17:55] cameronsamuels opened #225 "iOS battle background glitches"
I just noticed yesterday that the iOS app's battle background glitch and move crazily. I have not noticed this before, so does it happen to you, @xeleration/bocracy?

If it does happen to you also, we could possibly just remove the feature all together. I think it would be ok to do so because:
- It didn't glitch before and now it does, so it could happen again after a fix (which I don't know how t

[2018-02-24 17:56] ghost commented on #225
This could also make it easier to resolve issue #223.

[2018-02-24 23:15] ghost commented on #225
Stone an I agree to remove it.

We can now close this issue and mark it as a duplicate of #223.

[2018-02-24 23:15] #225 closed

[2018-02-24 23:16] ghost commented on #223
Stone and I agree to remove the battle background shifting when attacking and receiving damage. This will require much less code and be easier to resolve this issue.

[2018-02-25 02:01] ghost commented on #221
@stonejess and I have decided to remove the Byter B from the image and replace it with the World War A.

[2018-02-25 17:32] cameronsamuels opened #228 "Change page loading logo"
b-Ocracy in icon font --> b-Ocracy mountains ruins image

This is an extent of issue #218.

[2018-02-25 17:56] #223 closed

[2018-02-25 18:00] ghost commented on #221
I can do this at some point

[2018-03-01 15:38] nihalmenon commented on #218
I will resolve this issue

[2018-03-01 15:44] #218 closed

[2018-03-19 00:18] cameronsamuels opened #235 "Remove "Sign up to be a beta tester" on iOS"
On the credits page.

[2018-04-24 21:43] ghost commented on #216
This won't be for b-Ocracy. Possibly the prequel, or a remake of b-Ocracy.

A remake sounds neat. Listen to this. b-Ocracy has a stroyline but it isn't in the game. So we could possibly make a game under a different name that has b-Ocracy's missing storyline. This could be the sequel to the prequel and the prequel will be the original. b-Ocracy can still be a side game.

@stonejess, @ethanchoo, @V

[2018-04-24 21:43] #216 closed

[2018-04-24 21:44] #184 closed

[2018-04-24 21:44] ghost commented on #164
For a future game

[2018-04-24 21:45] #164 closed

[2018-04-24 21:45] ghost commented on #222
Future game

[2018-04-24 21:45] #222 closed

[2018-04-24 21:48] ghost commented on #235
My bad

[2018-04-24 21:50] ghost commented on #210
I don't think we need this right now, as we are limiting b-Ocracy development to work on other products. This would require much work also.

[2018-04-24 21:50] #210 closed

[2018-04-24 21:52] ghost commented on #217
I don't think this is needed. I think users can play as much as they want. If we tell them they got the max, that will interrupt their fun and make them want to stop playing. We want them to play as much as they want (and it is sort of a guessing game on earnings for the user)

[2018-04-24 21:52] #217 closed

[2018-04-24 21:54] #72 closed

[2018-04-24 21:59] ghost commented on #87
I think it's good enough. The rest we can't really do with b-Ocracy

[2018-04-24 21:59] #87 closed

[2018-04-24 21:59] #30 closed

[2018-04-28 21:06] #183 closed

[2018-04-28 21:07] #219 closed

[2018-04-28 21:07] #170 closed

[2018-04-28 21:08] #69 closed

[2018-05-10 00:46] #221 closed

[2018-05-10 00:47] #141 closed

[2018-05-10 00:47] #51 closed

[2018-05-10 00:57] #129 closed

[2018-08-12 16:15] #235 closed

[2018-08-23 02:35] #19 closed

[2018-08-23 02:36] cameronsamuels opened #238 "Convert into one branch"